# Dependencies
node_modules
.pnpm-store

# Production build outputs
dist
dist-ssr

# Environment variables & scratch
.env
.env.local
.env.*.local
scratch/
*.log

# IDE & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
